<div class="container">
    <div class="header">
        <h1 class="logo">AutoLotto</h1>
        <h1 class="play">Play together Win together</h1>
    </div>
    <div class="content">
        <div class="callout">
            <h1 class="hack">
                Do you want to
                #hackthelotto?
            </h1>
            <%= form_for @user, :url => { :action => "create" }, :html => { :class => "subscribe" } do |f| %>
                <%= f.text_field :phone_number, :placeholder => "Enter your phone number", :class => "phone" %>
                <input class="signup" type="submit" value="Sign Me Up!" />
            <% end %>
        </div>
        <div class="video">
            <iframe src="//www.youtube.com/embed/eAHGn_PKbJA?controls=0&amp;showinfo=0&amp;rel=0" width="480" height="270" allowfullscreen="" frameborder="0" class="yt-demo"></iframe>
        </div>
    </div>
</div>

<style>
    .container {
      position: relative;
      width: 100%;
      *zoom: 1;
      width: auto;
      max-width: 1440px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
    }
    .container:before,
    .container:after {
      content: '';
      display: table;
    }
    .container:after {
      clear: both;
    }
    .container * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    body {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      margin: 0 auto;
    }
    .header {
      padding-top: 90px;
      text-align: center;
    }
    @media only screen and (max-device-width: 600px) {
      .header {
        padding-top: 60px;
      }
    }
    .header .logo {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      display: inline-block;
      width: 100%;
      max-width: 340px;
      height: 79px;
      text-indent: -9999px;
      background: url("/assets/branding/logo.svg") center no-repeat;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
    }
    @media only screen and (max-device-width: 600px) {
      .header .logo {
        width: 60%;
      }
    }
    .header .play {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      padding: 15px 0;
      font-size: 44px;
    }
    @media only screen and (max-device-width: 600px) {
      .header .play {
        font-size: 26px;
        padding: 0;
        padding-bottom: 45px;
      }
    }
    .no-svg .logo {
      background: url("/assets/branding/logo.png") center no-repeat;
    }
    .content {
      zoom: 1;
      padding: 60px;
      text-align: center;
    }
    .content:before,
    .content:after {
      content: "";
      display: table;
    }
    .content:after {
      clear: both;
    }
    @media only screen and (max-device-width: 600px) {
      .content {
        padding: 0;
      }
    }
    .content .video {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 48.5%;
      margin-left: 0%;
      margin-right: 3%;
      position: relative;
      left: -51.5%;
    }
    .content .video:before,
    .content .video:after {
      content: '';
      display: table;
    }
    .content .video:after {
      clear: both;
    }
    .content .video:last-child {
      margin-right: 0%;
    }
    .content .video iframe {
      width: 100%;
      max-width: 400px;
      max-height: 224px;
    }
    @media only screen and (max-device-width: 600px) {
      .content .video iframe {
        margin-top: -150px;
        padding: 30px;
        max-width: 320px;
        max-height: 206px;
      }
    }
    .content .callout {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 48.5%;
      margin-left: 0%;
      margin-right: 3%;
      position: relative;
      left: 51.5%;
      padding: 0 30px;
    }
    .content .callout:before,
    .content .callout:after {
      content: '';
      display: table;
    }
    .content .callout:after {
      clear: both;
    }
    .content .callout:last-child {
      margin-right: 0%;
    }
    @media only screen and (max-device-width: 600px) {
      .content .video,
      .content .callout {
        position: static;
        left: 0;
        display: block;
        clear: both;
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .content .video:first-child,
      .content .callout:first-child {
        margin-left: auto;
      }
      .content .video:last-child,
      .content .callout:last-child {
        margin-right: auto;
      }
    }
    .content .hack {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 42px;
    }
    @media only screen and (max-device-width: 600px) {
      .content .hack {
        white-space: normal;
        font-size: 38px;
      }
    }
    .content form {
      padding: 15px 0;
    }
    .content form input {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font: inherit;
      margin: 5px 0;
      -webkit-border-radius: 4px;
      border-radius: 4px;
    }
    .content form .phone {
      width: 100%;
      padding: 0.75em;
      border: 1px solid #cacaca;
    }
    .content form .signup {
      float: left;
      padding: 0.75em 2em;
      color: #fff;
      background-image: -webkit-linear-gradient(270deg, #6fae46 0%, #5f953b 100%);
      background-image: -moz-linear-gradient(270deg, #6fae46 0%, #5f953b 100%);
      background-image: -o-linear-gradient(270deg, #6fae46 0%, #5f953b 100%);
      background-image: -ms-linear-gradient(270deg, #6fae46 0%, #5f953b 100%);
      background-image: linear-gradient(-180deg, #6fae46 0%, #5f953b 100%);
      -webkit-box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,0.2);
      box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,0.2);
      cursor: pointer;
    }
    @media only screen and (max-device-width: 600px) {
      .content form .signup {
        float: none;
        display: inline-block;
      }
    }
    @media only screen and (max-device-width: 600px) {
      .content form {
        position: relative;
        top: 206px;
        padding-top: 0;
        height: 150px;
      }
    }
</style>
