.refer-container {
  position: relative;
  width: 100%;
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.refer-container:before,
.refer-container:after {
  content: '';
  display: table;
}
.refer-container:after {
  clear: both;
}
.refer-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content {
  text-align: center;
}
.content .top {
  margin-top: 90px;
}
.content .top .signed {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
@media only screen and (max-device-width: 680px) {
  .content .top .signed {
    font-size: 28px;
  }
}
.content .top .line strong {
  font-weight: bold;
}
@media only screen and (max-device-width: 680px) {
  .content .top {
    margin-top: 60px;
  }
}
.content .middle {
  margin: 60px 0;
}
.content .middle .cut {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 42px;
  white-space: pre;
}
@media only screen and (max-device-width: 680px) {
  .content .middle .cut {
    font-size: 24px;
  }
}
@media only screen and (max-device-width: 680px) {
  .content .middle .cut {
    white-space: normal;
  }
}
@media only screen and (max-device-width: 680px) {
  .content .middle {
    margin: 45px 0;
  }
}
@media only screen and (max-device-width: 680px) {
  .content .bottom .rlink {
    font-size: 18px;
  }
}
.content .social {
  position: relative;
}
.content .social img {
  display: inline-block;
  margin: 15px;
  width: 48px;
  height: auto;
}
@media only screen and (max-device-width: 680px) {
  .content .social {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .content .social:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #cacaca;
  }
}
